body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f4;
    padding: 50px 16px;
}

.nav-dropdown {
    width: 600px;
    color: black !important;
    background-color: #f3f3f4 !important;
    border: none !important;
    font-size: 20pt !important;
}

.nav-dropdown:hover {
    color: #2a7c79 !important;
}

.nav-dropdown-menu {
    left: 10px !important;
    width: 600px;
    top: -61px !important;
    font-size: 20pt !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 !important;
    color: black;
}

.nav-link-custom {
    color: inherit;
    text-decoration: none;
}


.nav-dropdown-item:hover {
    background-color: #2a7c79 !important;
    color: #FFFFFF !important;
}

.nav-dropdown-item-bold {
    font-weight: bold !important;
    padding-left: 40px !important;
    color: black !important;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
}

.icon {
    vertical-align: middle;
    height: 1em;
    width: auto;
    margin-right: 5px;
}

.bold {
    font-weight: bold;
}

.loading-spinner {
    width: 10%;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.action-bar {
    background-color: #f3f3f4;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.action-button {
    margin: 30px;
    text-align: center;
}

.action-button.disabled svg {
    filter: grayscale(100%);
    opacity: 0.3;
    pointer-events: none;
}

.action-button.disabled:hover {
    cursor: default;
}


.action-button:hover {
    cursor: pointer;
}

.action-button-text {
    font-size: 10pt;
    user-select: none;
}

.action-division-bar {
    border-right: 1px solid #ccc;
    height: 100%;
    margin: 0 10px;
}


.table-header {
    text-align: left;
    font-weight: 400;
    font-size: 10pt;
}

.table-item {
    text-align: left;
    vertical-align: middle;
}

.table-item-ws {
    height: 4em;
}

.table-checkbox {
    text-align: right !important;
}

.table-product-name {
    width: 350px;
}

.table-producer {
    width: 350px;
}

.table-producer-border {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.table-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #2a7c79;
}

.table-checkbox {
    text-align: center;
    vertical-align: middle !important;
    width: 40px !important;
    padding-top: 10px !important;
    padding-right: 9px !important;
}

.table-checkbox-border {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

tr:hover td {
    background: #fafafa
}

.table-row {
    text-align: center;
}

Table {
    table-layout: fixed;
    font-size: 10pt;
}

.table-ws-text {
    width: 500px;
}

.table-ws-text-border {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.table-ws-category {
    width: 200px;

}

.table-ws-category-border {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.th-ws-title {
    font-weight: bold !important;
    width: 90px;
}

.td-ws-title {
    color: #2a7c6e !important;
    font-weight: 500 !important;
}

.td-ws-title:hover {
    opacity: 75% !important;
    cursor: pointer;
}

.pictogram {
    vertical-align: middle;
    height: 4em;
    width: auto;
    margin-right: 5px;
}

.view-pictogram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.pictogram-col {
    position: relative;
    width: 50px;
    height: 100%;
    padding-right: 10px;
}

.view-pictogram {
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0%);
    max-width: 100%;
    max-height: 8em;
}


.pictogram-label {
    display: block;
    font-weight: 600;
    font-size: 16px;
}


.ws-view-top-section {
    background-color: #f3f3f4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 230px;
}

.ws-view-container {
    background-color: #f3f3f4;
}

.headline {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin: 1.3rem 0 0.8rem;
}

.area-title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    flex-grow: 1;
}

.area-title-content {
    flex-shrink: 1;
}

.sidebar {
    background-color: #182021;
    height: 100%;
    position: sticky;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 500px;
}

.sidebar input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-right: 10px;
    accent-color: #2a7c79;
    background-color: black;
    margin-right: 5px;
}

.sidebar span {
    display: block;
    padding: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.sidebar-collapse {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: 400;
}

.sidebar-icon {
    margin-left: auto;
    float: right;
    padding-top: 5px !important;
}

.sidebar-collapse-content {
    display: block;
    padding-left: 16px;
}


.sidebar-header {
    padding-bottom: 27px !important;
    border-bottom: 1px solid rgb(255, 255, 255);
}


.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.overview-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.modal-top-section {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-middle-section {
    position: relative;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-bottom-section {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn-right {
    margin-left: auto;
}


.form-select-md {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    height: 50px !important;
    border-radius: 0 !important;
}

.btn-outline-primary {
    color: #2a7c79 !important;
    border: 1px solid #2a7c79 !important;
    border-radius: 0 !important;
}

.btn-outline-primary:hover {
    background-color: #2a7c79 !important;
    color: white !important;
}

.btn-outline-danger {
    color: #d9534f !important;
    border: 1px solid #d9534f !important;
    border-radius: 0 !important;
}

.btn-outline-danger:hover {
    background-color: #d9534f !important;
    color: white !important;
}

.close-icon {
    cursor: pointer;
    font-size: 18pt;
    opacity: 55%;
}

.form-control {
    width: 100% !important;
    padding: 10px !important;
    font-size: 16px !important;
}

.input-label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.1s ease-out;
    font-size: 12pt;
    opacity: 0.8;
}

.input-label-up {
    font-size: 10pt;
    bottom: 0;
    opacity: 0.5;
}

.modal-row {
    padding-bottom: 40px;
}

.create-input {
    margin-bottom: 20px !important;
}

.create-select {
    padding: 10px;
}

.image-select {
    display: flex;
    flex-wrap: wrap;
}

.image-select img {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.image-select img.selected {
    border: 2px solid #2a7c79;
}

.image-select img:hover {
    transform: scale(1.1);
}